<a href="#" id="logo"><%= image_tag 'logo-main.png', width: '300' %></a>
<div class="row row-full">
  <div class="column col-6 left">
    <div>
      <%= image_tag @question.image1, width: '180', id: 'left-img' %>
      <p id="left-content"><%= @question.option1 %></p>
    </div>
    <span>Answer<br/>This</span>
  </div>
  <div class="column col-6 right">
    <div>
      <%= image_tag @question.image2, width: '100', id: 'right-img' %>
      <p id="right-content"><%= @question.option2 %></p>
    </div>
    <span>Answer<br/>This</span>
  </div>
</div>